*{
    margin: 0;
    padding: 0;
}

.header{
    width: 40%;
    height: 50px;
    background-color: rgb(56, 52, 52);
    display: flex;
    justify-content: left;
    color: whitesmoke;
    align-items: center;

}
.header-font-size{
    font-size: 12px;
    padding-left: 15px;
}