*{
    margin: 0;
    padding: 0;
}

.layout11{
   width: 20%;
   height: 45px;
   display: flex;
   align-items: center;
   color: whitesmoke;
   background-color: rgb(56, 52, 52);
   border-top: 1px dotted rgb(107, 104, 104);
}
.padding{
    padding-left: 15px;
    font-size: 13px;
    
}
.padding30{
    padding-left: 30px;
}