*{
    margin: 0;
    padding: 0;
}

.page1{
    width: 20%;
   height: 35px;
   display: flex;
   align-items: center;
   color: whitesmoke;
   background-color: rgb(56, 52, 52);
   justify-content: space-between;
}
.padding{
    padding-left: 15px;
}
.padding30{
    padding-left: 30px;
}
.padding-right25{
    padding-right: 25px;
    font-size: 10px;

}