*{
    padding: 0;
    margin: 0;
}

.side-item-heading1{
    width: 20%;
    height: 35px;
    display: flex;
    align-items: end;
    color: #8b8383;
    background-color: rgb(56, 52, 52);
    padding-top: 10px;
}
.padding25{
    padding-left: 25px;
}           