*{
    margin: 0;
    padding: 0;
}

.button1{
    width: 20%;
    height: 50px;
    color: whitesmoke;
    background-color: rgb(56, 52, 52);
}
.button-width{
    width: 235px;
    padding: 16px;
    height: 45px;
    background-color: rgb(75, 68, 68);
    border: none;
    border-radius: 5px;
    margin-left: 13px;
    color: antiquewhite;



}