*{
    margin: 0;
    padding: 0;
}

.button1{
    width: 20%;
    height: 149px;
    color: whitesmoke;
    background-color: rgb(56, 52, 52);
}
.button-width{
    width: 230px;
    padding: 10px;
    height: 35px;
    background-color: rgb(75, 68, 68);
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    color: antiquewhite;
    margin-top: 100px;
}
